body {
    background-color: black !important;
}

@font-face {
    font-family: 'digital-clock-font';
    src: url('path_to_your_font.ttf') format('truetype'),
         url('path_to_your_font.otf') format('opentype');
}

.dclock {
    font-family: 'digital-clock-font', sans-serif;
    color: white;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
